.page-template-page-policy {
  @include interpolate("padding-top", 768px, 32px, 992px, 80px, "ease-in");
  @include interpolate("padding-bottom", 768px, 32px, 992px, 80px, "ease-in");
  .custom-template-content {
    width: 100%;
    max-width: 1328px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  p {
    color: #00378c;
    font-family: "Roboto Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 40px;
  }
  a {
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
  ol {
    margin-bottom: 40px;
    list-style: upper-roman;
    strong {
      display: block;
    }
    li {
      margin-left: 50px;
      ol {
        margin-bottom: 0;
      }
      li {
        margin-left: 20px;
      }
    }
  }
}
